In [1]:
import datetime

In [3]:
x = datetime.datetime.now()

In [4]:
y = datetime.datetime(2024, 5, 5)

In [7]:
x - y

datetime.timedelta(days=35, seconds=44501, microseconds=73374)

In [8]:
x

datetime.datetime(2024, 6, 9, 12, 21, 41, 73374)

In [9]:
y

datetime.datetime(2024, 5, 5, 0, 0)

In [10]:
x + y

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'datetime.datetime'

In [12]:
td = datetime.timedelta(days = 10)

In [13]:
x + td

datetime.datetime(2024, 6, 19, 12, 21, 41, 73374)

In [14]:
import os
import pandas as pd

In [16]:
ds_path = os.path.join('..', 'datasets')
df = pd.read_csv(os.path.join(ds_path, 'ceny_produktow_cleaned.csv'), sep=';')
df.head()

,province,product_types,currency,product_group_id,product_line,value,date,product
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3,szynka wieprzowa gotowana - za 1kg
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2,chleb - za 1kg
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12,kiszka kaszana jęczmienna - za 1kg
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2,kurczęta patroszone - za 1kg
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3,salceson Włoski - za 1kg

In [17]:
df.dtypes

province             object
product_types        object
currency             object
product_group_id      int64
product_line         object
value               float64
date                 object
product              object
dtype: object

In [20]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m')

In [21]:
df.dtypes

province                    object
product_types               object
currency                    object
product_group_id             int64
product_line                object
value                      float64
date                datetime64[ns]
product                     object
dtype: object

In [25]:
df['month'] = df['date'].dt.month
df['quarter'] = df['date'].dt.quarter
df['year'] = df['date'].dt.year

In [26]:
df.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,month,quarter,year
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-03-01,szynka wieprzowa gotowana - za 1kg,3,1,2013
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-02-01,chleb - za 1kg,2,1,2018
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12-01,kiszka kaszana jęczmienna - za 1kg,12,4,2019
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-02-01,kurczęta patroszone - za 1kg,2,1,2019
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-03-01,salceson Włoski - za 1kg,3,1,2002

In [27]:
df['new_date'] = df['date'].dt.strftime("%A/%B/%y")

In [28]:
df.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,month,quarter,year,new_date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-03-01,szynka wieprzowa gotowana - za 1kg,3,1,2013,Friday/March/13
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-02-01,chleb - za 1kg,2,1,2018,Thursday/February/18
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12-01,kiszka kaszana jęczmienna - za 1kg,12,4,2019,Sunday/December/19
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-02-01,kurczęta patroszone - za 1kg,2,1,2019,Friday/February/19
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-03-01,salceson Włoski - za 1kg,3,1,2002,Friday/March/02

In [38]:
df = pd.read_csv(
    os.path.join(ds_path, 'ceny_produktow_cleaned.csv'),
    sep=';',
    parse_dates=['date'],
    date_format='%Y-%m'
)

In [39]:
df.dtypes

province                    object
product_types               object
currency                    object
product_group_id             int64
product_line                object
value                      float64
date                datetime64[ns]
product                     object
dtype: object

In [40]:
df.head()

,province,product_types,currency,product_group_id,product_line,value,date,product
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-03-01,szynka wieprzowa gotowana - za 1kg
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-02-01,chleb - za 1kg
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12-01,kiszka kaszana jęczmienna - za 1kg
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-02-01,kurczęta patroszone - za 1kg
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-03-01,salceson Włoski - za 1kg

In [41]:
df['month'] = df['date'].dt.month
df['quarter'] = df['date'].dt.quarter
df['year'] = df['date'].dt.year

In [42]:
df.to_csv(os.path.join(ds_path, 'ceny_produktow_cleaned.csv'), index=False, sep=";")

In [43]:
df

,province,product_types,currency,product_group_id,product_line,value,date,product,month,quarter,year
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-03-01,szynka wieprzowa gotowana - za 1kg,3,1,2013
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-02-01,chleb - za 1kg,2,1,2018
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12-01,kiszka kaszana jęczmienna - za 1kg,12,4,2019
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-02-01,kurczęta patroszone - za 1kg,2,1,2019
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-03-01,salceson Włoski - za 1kg,3,1,2002
...,...,...,...,...,...,...,...,...,...,...,...
128498,ŚLĄSKIE,NaN,zł,2,boczek wędzony z żeberkami - za 1kg,15.95,2015-09-01,boczek wędzony z żeberkami - za 1kg,9,3,2015
128499,ŚLĄSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,4.50,2004-08-01,kiszka kaszana jęczmienna - za 1kg,8,3,2004
128500,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11-01,mięso wieprzowe (boczek surowy) - za 1kg,11,4,2016
128501,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-05-01,"cukier biały z buraków cukrowych, workowany - ...",5,2,2012
128502,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11-01,mięso wołowe bez kości (z udźca) - za 1kg,11,4,2000